// Dimensions
$navbar-width: 70rem;
$navbar-height: 8vh;
$heaer-height: 99vh;
$page-width: 85rem;
$logo-height: 5rem;

// Colors
$color-pink-dark: #493349;
$color-pink-midium: #b991a5;
$color-pink-light: #cf9fcf;

$color-grey-light: #f6f7f9;
$color-grey-midium: #ebe5e8;
$color-grey-dark: #333333;

$color-black: #111010;

$color-white: #ffffff;
