.footer {
  background-color: $color-black;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .developer {
    position: relative;
  }
}
