.nav__container {
  background-color: #493349;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
}

.nav {
  width: $navbar-width;
  min-height: $navbar-height;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 35px;
}

.nav ul li a {
  text-decoration: none;
  display: inline-block;
  min-width: 7rem;
  text-align: center;
  color: white;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0 4px;
}

// move logo to left side
.nav ul li:first-child {
  margin-right: auto;
  margin-top: 0.4rem;
}

.nav ul li a:hover,
.nav-link--active {
  color: $color-black;
  background-color: $color-pink-light;
  transform: translateY(-1px);
  transition: 250ms transform;
  box-shadow: 4px 4px 8px $color-black;
}

.nav ul li:first-child a:hover {
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
}

// Nav Sidebar for small screen
.nav .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 110vh;
  width: 250px;
  z-index: 9999;
  background-color: rgba($color-pink-dark, 0.7);
  backdrop-filter: blur(10px); //block see through the background
  box-shadow: -10px 0 10px $color-black;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  min-width: 100%;

  margin: 10px;
  a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    font-size: 1.2rem;
    text-align: left;
  }
}

.sidebar li:first-child a {
  background-color: transparent;
}
.navbar img,
.sidebar img {
  background-color: $color-pink-light;
  box-shadow: 2px 2px 4px $color-pink-light;
  border-radius: 1rem;
  margin-left: 50px;
}
.navbar img {
  max-height: $logo-height;
}
.sidebar img {
  max-height: 6rem;
}

.navbar img:hover,
.sidebar img:hover {
  transform: translateY(-2px);
  transition: 250ms transform;
  box-shadow: 4px 4px 8px $color-black;
}

#sidebar-menu-btn--show {
  display: none;
}
